*~
.editix
syntax: glob
*.orig
build
*.swp
metadata_project.rng
source/*/*/*.rng
*.log
*.xpr
source/text/usxtest/
source/dblSourceBundles.layout
metadata.xsd
metadata.rnc
metadata.rng
schemas.xml
/.idea/
.DS_Store
*.sublime-*