archiveStatusElement =
  element archiveStatus {
    element archivistName { lenGe2String } &
    element dateArchived { xsd:dateTime } &
    element dateUpdated { xsd:dateTime } &
    element comments { lenGe2Le255String }
  }
