countryElement = element country { countryIsoElement & countryNameElement }

countryIsoElement = # DCMI: coverage/spatial (ISO3166)
  element iso {
    xsd:string { pattern = "[A-Z][A-Z][A-Z]?" }
  }

countryNameElement = # DCMI: subject/subjectCountry
  element name { lenGe2String }
