promotionElement = element promotion { promoVersionInfoElement }

promoVersionInfoElement = # DCMI: description/pubPromoVersionInfo
  element promoVersionInfo {
      promoVersionInfoAttlist, simplifiedHtml+
    }

promoVersionInfoAttlist = attribute contentType { "xhtml" }