# archive_status

archiveStatusElement =
  element archiveStatus {
    element bundleCreatorName {lenGe2String}? &
    element archivistName { lenGe2String } &
    element dateArchived { text }? &
    element dateUpdated { text }? &
    element comments { lenLe255String }
  }

progressElement =
  element progress {
    element book {
      attribute code {canonicalBookIdEnum},
      attribute stage {xsd:integer { minInclusive="1" maxInclusive="6" } }
    }+
  }
