# format text (lax)

measurementString = text

percentageString = text

screenResolution = text

audioCompressionEnum = text

audioTrackEnum = text

printOrientationEnum = text

printColorEnum = text

printFontEnum = text
