# archive_status

archiveStatusElement =
  element archiveStatus {
    element bundleCreatorName {lenGe2String}? &
    element archivistName { lenGe2String } &
    element dateArchived { xsd:dateTime } &
    element dateUpdated { xsd:dateTime } &
    element comments { lenLe255String }
  }
