# generic text (lax)

nonEmptyString = text

lenGe1String = text

lenGe2String = text

lenGe2Le255String = text

lenGe1Le255String = text

lenGe1Le1024String = text

lenLe255String = text

anyURI = text
